In [85]:
!gcloud auth print-access-token

ya29.a0ARrdaM-dlpCTLV2icVPvND2jVPf2iLin6KElh2o8PPyqiVzkziofw_nLANnbC92byJycv9V4FtH7AUYt9wGRUKDv56vbRtlLmuWWHG3xMCZz407PqB0iYOejKr-RCXj99wRkdN1PF0Ytd29GVKbEdPYMg5-yVKpsZCTe2jY

In [84]:
# Modo manual
import os

os.system('gcloud auth print-access-token')

ya29.a0ARrdaM_NzD0WwT9Qr8jBLEBtXdSGJe9nnRKFLmWXGpDfE5UFvH7VHxdx8Oq31U2VUXe6_toUB1HI2BBwlJcxbgAwTs-7XIiUn6M3RfbVSKvIcf4iq7UExtL8CQIllohssjM3QVeWb_bag9or5mOAphFZVhEjag4_ayFl7OI

0

In [79]:
# Modo 'autom√°tico'
def get_access_token():
    import subprocess

    cmd="gcloud auth print-access-token"
    result = subprocess.check_output(cmd, shell=True)
    
    return result.decode().replace('\n', '')

In [90]:
# Criar credencial de acesso
import google.oauth2.credentials

credentials = google.oauth2.credentials.Credentials('ya29.a0ARrdaM-dlpCTLV2icVPvND2jVPf2iLin6KElh2o8PPyqiVzkziofw_nLANnbC92byJycv9V4FtH7AUYt9wGRUKDv56vbRtlLmuWWHG3xMCZz407PqB0iYOejKr-RCXj99wRkdN1PF0Ytd29GVKbEdPYMg5-yVKpsZCTe2jY')

In [91]:
# Instanciar cliente do BigQuery
from google.cloud import bigquery

client = bigquery.Client(credentials=credentials, project='white-script-238515')

In [102]:
# Realizar a query.
query = '''
    SELECT * FROM `white-script-238515.sandbox.titanic` 
    LIMIT 10
'''

query_job = client.query(query)  # API request
dataframe = query_job.to_dataframe()

In [103]:
# Trabalhar com o Dataframe
dataframe

,passagender_id,class,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1158,1,"Chisholm, Mr. Roderick Robert Crispin",male,30.27,0,0,112051,0.0,unknown,S
1,1264,1,"Ismay, Mr. Joseph Bruce",male,49.00,0,0,112058,0.0,B52 B54 B56,S
2,903,1,"Jones, Mr. Charles Cresson",male,46.00,0,0,694,26.0,unknown,S
3,974,1,"Case, Mr. Howard Brown",male,49.00,0,0,19924,26.0,unknown,S
4,986,1,"Birnbaum, Mr. Jakob",male,25.00,0,0,13905,26.0,unknown,C
5,1083,1,"Salomon, Mr. Abraham L",male,30.27,0,0,111163,26.0,unknown,S
6,1227,1,"Maguire, Mr. John Edward",male,30.00,0,0,110469,26.0,C106,S
7,1247,1,"Julian, Mr. Henry Forbes",male,50.00,0,0,113044,26.0,E60,S
8,1270,1,"Hipkins, Mr. William Edward",male,55.00,0,0,680,50.0,C39,S
9,984,1,"Davidson, Mrs. Thornton (Orian Hays)",female,27.00,1,2,F.C. 12750,52.0,B71,S