#Python Types

### Text

- String

### Numeric

- Integer
- Float
- Complex

### Sequence

- List
- Tuple
- range

### Mapping

-  dict

### Set

- set

In [ ]:
# String
my_string = "Hello World"

# Integer
my_int = 10

# Float
my_float = 10.3

# Complex
my_complex = 1j

# Lists
my_list = ["apple", "banana", "cherry"]

# Tuple
my_tuple = ("apple", "banana", "cherry")

# Range
my_range = range(6)

# Dict
my_dict = {"name" : "John", "age" : 36}

# Set
my_set = {"apple", "banana", "cherry"}

# Boolean
my_bool = True

In [ ]:
# Checando os tipos das variáveis

print(f"O valor {my_string} é um {type(my_string)}")
print(f"O valor {my_int} é um {type(my_int)}")
print(f"O valor {my_float} é um {type(my_float)}")
print(f"O valor {my_complex} é um {type(my_complex)}")
print(f"O valor {my_list} é um {type(my_list)}")
print(f"O valor {my_tuple} é um {type(my_tuple)}")
print(f"O valor {my_range} é um {type(my_range)}")
print(f"O valor {my_dict} é um {type(my_dict)}")
print(f"O valor {my_set} é um {type(my_set)}")
print(f"O valor {my_bool} é um {type(my_bool)}")

O valor Hello World é um <class 'str'>
O valor 10 é um <class 'int'>
O valor 10.3 é um <class 'float'>
O valor 1j é um <class 'complex'>
O valor ['apple', 'banana', 'cherry'] é um <class 'list'>
O valor ('apple', 'banana', 'cherry') é um <class 'tuple'>
O valor range(0, 6) é um <class 'range'>
O valor {'name': 'John', 'age': 36} é um <class 'dict'>
O valor {'apple', 'cherry', 'banana'} é um <class 'set'>
O valor True é um <class 'bool'>

In [ ]:
if isinstance(my_string, int):
    print("Formatar como string")
else:
    print("Formatar como x")

Formatar como x

In [ ]:
# Mudando o tipo da variável
# int my_var = 10;
my_var = 10

print(f"Valor atual: {my_var}\nTipo Atual:{type(my_var)}")

print("\nMudando o tipo da variavel ...\n")
my_var = "now is a string"

print(f"Valor atual: {my_var}\nTipo Atual:{type(my_var)}")

Valor atual: 10
Tipo Atual:<class 'int'>

Mudando o tipo da variavel ...

Valor atual: now is a string
Tipo Atual:<class 'str'>

In [ ]:
# Métodos
print(dir(my_var))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
my_var.lower()

'now is a string'

In [ ]:
a = int(1) # 1
b = int(2.8) # 2
c = int(round(2.8)) # 3
d = int("4") # 4

print(f"a={a}")
print(f"b={b}")
print(f"c={c}")
print(f"d={d}")

a=1
b=2
c=3
d=4

In [ ]:
x = float(1)     # 1.0
y = float(2.8)   # 2.8
z = float("3")   # 3.0
w = float("4.2") # 4.2

print(f"x={x}")
print(f"y={y}")
print(f"z={z}")
print(f"w={w}")

x=1.0
y=2.8
z=3.0
w=4.2

In [ ]:
x = str("s1") # 's1'
y = str(2)     # '2'
z = str(3.0)   # '3.0' 

print(f"x='{x}'")
print(f"y='{y}'")
print(f"z='{z}'")

x='s1'
y='2'
z='3.0'

# Python Conditions and If statements

- if
- elif
- else



 - Equals: a == b
 - Not Equals: a != b
 - Less than: a < b
 - Less than or equal to: a <= b
 - Greater than: a > b
 - Greater than or equal to: a >= b

In [ ]:
# if
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [ ]:
# If statement, without indentation (will raise an error):
a = 33
b = 200
if b > a:
  print("b is greater than a") # you will get an error

b is greater than a

In [ ]:
# elif
a = 33
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
# else

a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
# Short way
if a > b: print("a is greater than b")

a is greater than b

In [ ]:
# Short way
a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
# Aninhado
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

else:
    # your code here

Above ten,
and also above 20!

In [ ]:
my_list2 = ['banana', 'laranja', 'maca']

In [ ]:
if 'banana' in my_list:
    print("tem banana")
else:
    print("Não tem banana")

tem banana

In [ ]:
if 'banana' not in my_list:
    print("Não tem banana")
else:
    print("Tem banana")

Tem banana